#animal-photos {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color:#484848;
}
#photo-heading {
	color: white;
}

img {
	width: 200px;
	margin: 10px;
	border-radius: 10px;
	
}



